/Project/[Ll]ibrary/
/Project/[Tt]emp/
/Project/[Oo]bj/
/Project/[Bb]uild/
/Project/[Bb]uilds/
/Project/[Ll]ogs/
/Project/[Uu]ser[Ss]ettings/

/Project/[Mm]emoryCaptures/

/Project/[Aa]ssets/AssetStoreTools*

/Project/.vs/

/Project/.gradle/

/Project/ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.pidb.meta
*.pdb.meta
*.mdb.meta

/Project/sysinfo.txt

*.unitypackage

crashlytics-build.properties

/Project/[Aa]ssets/[Ss]treamingAssets/aa.meta
/Project/[Aa]ssets/[Ss]treamingAssets/aa/*